body {
    display: grid;
    place-content: center;
    height: 95vh;
}

._parent {
    padding: 2em;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

._panel {
    border: 1px solid #aaa;
    border-radius: 15px;
    padding: 1em;
    width: 450px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

._panel:first-of-type {
    margin-bottom: 1em;
}

button {
    padding: 0.3em;
}

h3 {
    margin-top: 0;
}

h2 {
    background-color: lightgreen;
}